<!-- <div class="container text-center">
  <h1 *ngIf="valide==true">{{title}} is running</h1>

</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col mb-2" *ngFor="let personne of personnes">
      <div class="card">
        <img src="../assets/IMG_0017.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" >{{personne.nom |uppercase }} {{personne.prenom}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-hotels></app-hotels>
<app-saisie></app-saisie>
<app-base-donnee></app-base-donnee>
