<!-- <div class="container ">
  <div class="contenu">
    <div class="mb-3">
      <label for="nom" class="form-label">nom {{champs_nom}}</label>
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="champs_nom" >
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">prenom {{champs_prenom}}</label>
      <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="champs_prenom">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary"  (click)="afficher()">send</button>

    </div>
  </div>

</div> -->


